<!DOCTYPE html>
<html>
<head>
<title>Архив всех статей</title>
<link rel="stylesheet" href="{{ STATIC_URL}} /static/css/article.css">
</head>
<body>
  <div class="archive">
    <div class="header">
      <img src="{{ STATIC_URL }}/static/img/img1.png" height="200"/>
    </div>
    {% for post in posts %}
      <div class="one-post">
        <h2 class="post-title"><a href="../../article/{{post.id}}">{{ post.title }}</a></h2>
        <div class="article-info">
          <div class="article-author">{{ post.author.username }}</div>
          <div class="article-createddate">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.get_excerpt }}</p>
      </div>
    {% endfor %}
  </div>
</body>
</html>
